@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/*CSS applied everywhere*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100;
    max-height: 100;

}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

body {

    overflow-y: hidden;
    position: relative;
    background-image: url("");
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100% !important;
    max-height: 100%;

}

.fixed-top {
    position: fixed;
    border-color: #2b2b2b;
}

.navbar {
    width: 100%;
    display: flex;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    position: relative;

}


#navbar li a:hover {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #FF7F4C;
}

nav {
    width: 100%;
    display: flex;
    height: 5%;
    z-index: 10000;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    transition: 0.4s ease-in-out;
    font-family: Poppins;
    position: fixed;
    margin-left: 0%;
    margin-top: 2rem;
    border-radius: 23px 23px 23px 23px;
    top: 0;
    left: 0;
}

nav .logo {
    color: #2b2b2b;
    font-size: 2vw;
    font-weight: 600;
    margin-right: -1.5rem;
    display: flex;
    padding-left: -10vw;
    padding-top: 2.5vw;
    scale: 0.6;
}


nav .main-logo {
    width: 20vw;
    height: 20vw;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: -10vw;
    width: 80%;
    padding-right: 1.2vw;
}

nav ul li {
    margin: 0 0.2vw;
}

nav ul li a {
    color: #3E3807;
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: 500;
    padding: 1px 2.8px;
    border-radius: 5px;
    letter-spacing: 0.0rem;
    word-spacing: 0.5vw;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

nav ul li i {
    flex-wrap: nowrap;

}

.joinbtn {

    background-color: #FF7F4C;
    border-radius: 15px 15px 15px 15px;
    margin-left: 5px;
}

/*Index Page*/

#index {
    overflow-x: hidden;
    background-color: #E6E6E6;
    background-size: cover;

}

#img1 {
    position: relative;
    margin-top: -20vw;
    margin-left: 17vw;

    border: dotted rgb(0, 0, 0);
    border-width: 1vw 1vw 1vw 1vw;
    /* top right bottom left */
    border-style: dashed dashed dashed dashed;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgba(96, 96, 96, 0.086);
    padding: 5%;
    scale: 0.8;

}

#img2 {
    object-fit: contain;
    position: absolute;
    left: 100%;
    padding: 2%;
    width: 80%;
    transform-origin: bottom right;
    scale: 1.5;
    z-index: 1;
    visibility: hidden;
}

#img3 {
    object-fit: contain;
    position: absolute;
    bottom: -1%;
    left: 55%;
    width: 30%;
    z-index: 0;
    visibility: hidden;
}


.timer {
    position: absolute;
    top: 23%;
    left: -6%;
    transform: translate(-50%, -50%);
    rotate: -90deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #2b2b2b;
    border: dashed black;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 12%;
    font-family: Urbanist;
    font-size: 3.5vw;
}

.timer h1 {
    align-self: flex-start;
    margin: 0;

}


.day {
    color: black;
}


.time {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: -6%;
    transform: translateX(-50%);
    rotate: -90deg;
}

.time div {
    white-space: nowrap;
}

.time div p {
    font-size: 6vw;
    flex-basis: max-content;
    white-space: nowrap;
    margin: 0 5px;
}

.day {
    font-size: 4vw;
}

#seconds {
    color: #FF7F4C;
}

/*Motto Page*/
#motto {
    background-color: #E6E6E6;
    overflow-x: hidden;
    overflow-y: hidden;

}

#mottobox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E6E6E6;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 2;
    flex-wrap: nowrap;
}


#mottotext {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    border: dashed;
    z-index: 2;
    position: absolute;
    padding-left: 7vw;
    height: 35vw;
    padding-top: 5vw;
    width: 60vw;
}

#mottotext h1 {

    font-size: 12vw;
    font-family: 'Raleway';
    font-weight: 600;
    z-index: 2;
    padding-top: 2vw;


}

#mottotext p {
    font-size: 4.5vw;
    font-family: 'Raleway';
    z-index: 2;
    font-weight: 600;
    justify-content: left;
    text-align: center;
    margin-left: -8vw;


}

#mottoimg1 {
    -webkit-animation: bkgmove 1s 1s ease-out forwards;
    animation: bkgmove 1s 1s ease-out forwards;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    object-fit: contain;
    position: absolute;
    bottom: -px;
    left: 50%;
}


@-webkit-keyframes bkgmove {
    100% {
        left: -55%;
        bottom: -1.6%;
        transform: scale(1.2);
    }
}

@keyframes bkgmove {

    0% {
        left: -30%;
        bottom: -1.6%;
        transform: scale(1);
    }

    100% {
        left: -25%;
        top: 5%;
        transform: scale(5);
    }
}



#mottoimg2 {
    object-fit: contain;
    position: absolute;
    top: 5vw;
    left: -5vw;
    transform-origin: bottom right;
    animation: bulb-move 1s 1s ease-out forwards;
    animation-duration: 0.7s;
    display: block;
}

@keyframes bulb-move {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(255, 167, 79, 0));
    }

    25% {
        transform: scale(1);
        top: -75vw;
        left: -100vw;
    }

    100% {
        transform: scale(0.9);
        bottom: 100%;
        top: -185vw;
        left: -165vw;
        filter: drop-shadow(30px 30px 40px rgb(255, 167, 79));
    }
}


/*Our Work Page - RESPONSIVE EVERYWHERE NO NEED FOR TABLET MEDIA QUERIES*/
#work {
    background-color: #070d56;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 3;
}

.circle {
    /* text-align: center; */
    display: grid;
    grid-template-columns: 100vw 100vw;
    padding-top: 5vw;
    align-items: left;
    scale: 0.53;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -20vw;
    margin: 0;
    padding: 0;
}

.circles1 {
    text-align: right;
    transform: translateX(45px);
    padding-top: 25px;
    /* transform: translateY(50px); */
}

.circles2 {
    /* transform:translateX(-100px) ; */
    transform: translateY(110px);
    text-align: left;
}

.down {
    transform: translateY(-10px);
}

.up {
    transform: translateY(-25px);
}

.circle1 img {
    position: relative;
    width: 350px;

}

.circle1 {
    animation-delay: 0s;
    animation-duration: 5s;
}

.circle2 {
    animation-delay: 0.4s;
}

.circle4 {
    animation-delay: 0.2s;
}

.circle6 {
    animation-delay: 1s;
}

.circle3 {
    animation-delay: 0.8s;
}

.circle5 {
    animation-delay: 0.6s;
}

.circle2 img {
    position: relative;
    width: 350px;
}

.circle3 img {
    position: relative;
    width: 350px;
}

.circle4 img {
    position: relative;
    width: 350px;
}

.circle5 img {
    position: relative;
    width: 350px;
}

.circle6 img {
    position: relative;
    width: 350px;
}


#img1work {
    -webkit-animation: bkgmove1 1s 1s ease-out forwards;
    animation: bkgmove1 1s 1s ease-out forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    position: relative;
    z-index: -1;
    object-fit: contain;
    position: absolute;
    bottom: -2px;
    left: 50%;
}

@-webkit-keyframes bkgmove1 {
    100% {
        left: -25%;
        bottom: 20%;
        transform: scale(1.1);
    }
}

@keyframes bkgmove1 {
    20% {
        filter: invert(1) brightness(9%);
    }

    60% {
        left: -30%;
        bottom: 20%;
        transform: scale(1.4);
        filter: invert(1) brightness(95%);
    }

    100% {
        left: -97%;
        bottom: 40%;
        transform: scale(1.4);
        filter: invert(1) brightness(95%) opacity(100%);
    }
}

#img2work {
    height: 1000px;
    width: 600px;
    margin-top: -740px;
    padding-left: 1880px;
    transform-origin: bottom right;
    -webkit-animation: work1ani 1s 1s ease-out forwards;
    animation: work1ani 1s 1s ease-out forwards;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
}

@keyframes work1ani {
    20% {
        padding-left: 1740px;
    }

    100% {
        padding-left: 1540px;
    }
}

/*Events*/

#events {
    background-color: #E6E6E6;
    max-width: 100%;
}

#img2events {
    padding-left: 120vw;
    bottom: 45vw;
    position: relative;
    z-index: -1;
    -webkit-animation: events 1s 1s ease-out forwards;
    animation: events 1s 1s ease-out forwards;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}

@keyframes events {
    0% {}

    100% {
        transform: scale(1.7);
        padding-left: 20vw;

    }
}

/*horizontal scroll CSS*/


.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/*::-webkit-scrollbar {
    display: none;
}*/

.card {
    flex: 0 0 auto;
    display: inline-block;
    /*border-style: dotted;*/
    align-items: center;
    width: 70vw;
    height: 80vw;
    margin-right: 3vw;
    margin-left: 7vw;
    /*   scroll-snap-align: start; */
    display: flex;
    margin-top: 40vw;
    -webkit-overflow-scrolling: touch;
    /*  backface visibility keeps font from looking weird  */
    transition: all .4s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.c1 {
    background-image: url(./image/Card1.png);
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

.text {
    font-size: 3.5vw;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.4vm;
    margin-top: 30vw;
    width: fit-content;
    block-size: fit-content;
    color: oldlace;
    font-family: Raleway;
    white-space: normal;
    transition: all .4s ease-in-out;
    -webkit-animation: text 1s 1s ease-out forwards;
    animation: text 1s 1s ease-out forwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes text {
    0% {
        margin-top: 495px;
    }

    100% {
        margin-top: 195px;
    }
}

.main2 {

    font-family: Raleway;
    font-size: 30vw;
    margin-left: 0vw;
    -webkit-animation: 2s 2s ease-out forwards;
    animation: 2s 2s ease-out forwards;
    z-index: 2;
    color: #FFFFFF;
    margin-top: -40vw;
}

.gallery-wrapper {
    bottom: 85%;
    white-space: nowrap;
    margin-left: -10vw;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 120vw;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200vw;
    -webkit-animation: gal 1s 1s ease-out forwards;
    animation: gal 1s 1s ease-out forwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-overflow-scrolling: touch;


}

::-webkit-scrollbar {
    display: none;
}

@keyframes gal {
    0% {
        margin-top: -180vw;
    }

    100% {
        margin-top: -250vw;
    }
}

.galcard {
    flex: 0 0 auto;
    display: inline-block;
    border-style: double;
    align-items: center;
    width: 44vw;
    height: 25vw;
    background-color: white;
    margin-right: -3rem;
    margin-left: 4rem;
    margin-top: 2rem;
    /*   scroll-snap-align: start; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 3rem;
    /*  backface visibility keeps font from looking weird  */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/*Projects Page*/
#project1 {
    background-color: #E6E6E6;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 30vw;
}

.heading h1 {
    padding-top: 10vw;
    padding-left: 26vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #E6E6E6;
    font-style: normal;
    font-size: 3vw;
    padding-right: -2vw;
    z-index: 1;
}

.heading span {
    color: #FF7F4C
}

.intro h3 {
    padding-top: 4vw;
    padding-left: 50vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #E6E6E6;
    position: fixed;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
}

#imgproj {

    padding-left: 1200px;
    bottom: -100px;
    position: relative;
}

#imgproj {
    -webkit-animation: proj 1s 1s ease-out forwards;
    animation: proj 1s 1s ease-out forwards;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    z-index: -1;
}

@keyframes proj {
    0% {}

    100% {
        transform: scale(4);
        padding-left: 180px;
        bottom: 0px;

    }
}

#tilted {
    margin-top: -170px;
    position: fixed;
    scale: 1.2;
    margin-left: -270px;
}

.size {
    width: 500px;
    height: 500px;
}

.size2 {
    width: 500px;
    height: 300px;
    object-fit: fill;
    white-space: nowrap;
}

.size3 {
    /* position: relative;
    margin-top: -1570px;
    white-space: nowrap;
    margin-left: 1350px;*/
    margin-top: -105vw;
    margin-left: 65vw;

}

.size3 img {
    position: fixed;
    object-fit: cover;
    width: 300px;
    height: 200px;
    scale: 1.1;
    margin-top: -7vw;
}

/*for the image with different positions*/

/*JOIN*/

join {
    max-width: 100%;
    max-height: 100%;
    overflow-x:hidden;
}

#imgjoin {
    scale: 1.3;
    margin-top: -20vw;
    margin-left: 10vw;
    z-index: -1;
    position: re;
}

#imgjoin {
    -webkit-animation: proj2 1s 1s ease-out forwards;
    animation: proj2 1s s ease-out forwards;
    -webkit-animation-duration: 0.3s;
    animation-duration: 1.3s;
    z-index: -1;

}

@keyframes proj2 {

    100% {
        transform: scale(1);
        padding-left: 20.5vw;
        margin-bottom: 22vw;
        margin-left: 70vw;
        z-index: -1;
    }
}

.joinh1 {
    position: fixed;
    margin-left: 5vw;
    white-space: nowrap;
    z-index: 1;
    font-size: 5vw;
    margin-top: 25vw;

}

#phone {
    position: fixed;
    scale: 1.1;
    margin-top: -160vw;
    animation: glow 1s 1s ease-out forwards;
    animation-timing-function: ease-in-out;
    z-index: 10;
    margin-left: 5vw;
}


.heading2 h1 {

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #000000;
    font-style: normal;
    z-index: 1;
}

.heading2 span {
    color: #FF7F4C
}


#phone:hover {
    filter: brightness(120%);
}

@keyframes glow {

    100% {
        transform: rotate(-26deg);
        margin-top: -220vw;
        filter: brightness(140%);
        scale: (1.4);
    }
}

#jointext {
    color: #071330;
    border: dashed;
    width: 60vw;
    margin-left: 15vw;
    margin-top: -110vw;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: fixed;
    padding: 2vw;
    height: 30vw;

}

#jointext p {
    font-size: 3.2vw;
    padding: 0.4vw;
}

.jimg {
    margin-left: -1.5vw;
    margin-top: -0.5vw;
    padding-right: 1vw;
    margin-bottom: -1vw;
    scale: 0.9;
}

.padding {
    scale: 0.9;
    padding-right: 1.2vw;
}

#uijoe {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#erc {
    position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

/*Media Queries for responsiveness*/

/*400px: Tablets */

/*900px: laptops*/
@media screen and (min-width: 900px) {
    body {
        max-width: 100% !important;
        max-height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /*Navbar code*/
    nav {
        width: 85%;
        display: flex;
        height: 7%;
        z-index: 10000;
        align-items: center;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        transition: 0.4s ease-in-out;
        font-family: Poppins;
        position: fixed;
        align-self: auto;
        margin-left: 7.5%;
        margin-top: 2rem;
        border-radius: 23px 23px 23px 23px;
        top: 0;
        left: 0;
    }

    nav .logo {
        color: #2b2b2b;
        font-size: 2vw;
        font-weight: 600;
        margin-right: 2rem;
        display: flex;
        padding-left: 2rem;
        padding-top: 0.5rem;
        scale: 1;
    }

    nav .main-logo {
        width: 50vw;
        height: 50vw;
    }

    nav ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 10%;
        width: 80%;
    }

    nav ul li {
        margin: 0 0.2rem;
    }

    nav ul li a {
        color: #3E3807;
        text-decoration: none;
        font-size: 1.3vw;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        letter-spacing: 0.1rem;
        transition: all 0.3s ease;
        font-family: 'Poppins', sans-serif;
    }

    nav .menu-btn i {
        color: #5d4840;
        font-size: 2vw;
        cursor: pointer;
        display: none;
    }

    .joinbtn {
        margin-left: 12px;
        background-color: #FF7F4C;
        border-radius: 15px 15px 15px 15px;
    }

    .navbar {
        width: 100%;
        display: flex;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar li {
        list-style: none;
        position: relative;
    }

    #navbar li a:hover::after {
        text-decoration: underline;
        text-decoration-style: double;
        text-decoration-color: #FF7F4C;
    }

    /*Index Page*/

    #img1 {
        object-fit: cover;
        position: relative;
        left: 5%;
        height: 80%;
        width: 12%;
        border: dashed black;
        border-spacing: 25px 25px;
        padding: 3%;
        scale: 1;
        margin: 0;
        margin-bottom: 10vw;
    }

    #img2 {
        object-fit: contain;
        position: absolute;
        left: 100%;
        padding: 2%;
        width: 80%;
        transform-origin: bottom right;
        scale: 1.5;
        z-index: 1;
        visibility: visible;
    }

    #img3 {
        object-fit: contain;
        position: absolute;
        bottom: -1%;
        left: 55%;
        width: 30%;
        z-index: 0;
        visibility: visible;
    }



    .timer {
        position: absolute;
        top: 44%;
        left: 46%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #2b2b2b;
        border: dashed black;
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 7%;
        font-family: Urbanist;
        font-size: 1.5vw;
        rotate: 0deg;
    }

    .timer h1 {
        align-self: flex-start;
        margin: 0;
    }


    .day {
        color: black;
    }


    .time {
        display: flex;
        align-items: center;
        position: absolute;
        top: 44%;
        left: 45%;
        transform: translateX(-50%);
        rotate: 0deg;
    }

    .time div {
        white-space: nowrap;
    }

    .time div p {
        font-size: 3vw;
        flex-basis: max-content;
        white-space: nowrap;
        margin: 0 5px;
    }

    .day {
        font-size: 3vw;
    }

    #seconds {
        color: #FF7F4C;
    }

    /*Motto Page*/
    #motto {
        background-color: #E6E6E6;
        overflow-x: hidden;
        overflow-y: hidden;


    }



    #mottobox {
        top: 50%;
        position: fixed;
        left: 70%;
        transform: translate(-50%, -50%);
        background-color: #E6E6E6;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex-wrap: nowrap;
        background-color: #E6E6E6;
        z-index: 2;
    }

    #mottotext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* add this */
        text-align: center;
        color: #FFFFFF;
        border: dashed;
        width: 350px;
        z-index: 2;
        position: absolute;
        height: 150px;
    }

    #mottotext h1 {
        font-size: 80px;
        font-family: 'Raleway';
        font-weight: 600;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: -6vw;
        margin-top: -10vw;
    }


    #mottotext p {
        font-size: 19px;
        font-family: 'Raleway';
        z-index: 2;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        margin-left: -7vw;

    }

    #mottoimg1 {
        -webkit-animation: bkgmove 1s 1s ease-out forwards;
        animation: bkgmove 1s 1s ease-out forwards;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        object-fit: contain;
        position: absolute;
        bottom: -30vw;
        left: -25vw;
        display: block;
        z-index: -1;

    }




    @keyframes bkgmove {

        0% {
            bottom: -30vw;
            left: -25vw;
            scale: 1;
        }

        100% {
            bottom: -15vw;
            left: -100vw;
            scale: 1.5;

        }
    }


    #mottoimg2 {
        object-fit: contain;
        position: absolute;
        transform-origin: bottom right;
        top: -10vw;
        left: 10vw;
        animation: bulb-move 1s 1s ease-out forwards;
        animation-duration: 0.7s;
        display: block;
    }

    @keyframes bulb-move {
        0% {
            transform: scale(1);
            filter: drop-shadow(0 0 0 rgba(255, 167, 79, 0));
        }

        100% {
            transform: scale(1.1);
            top: -38vw;
            left: -85vw;
            filter: drop-shadow(30px 30px 40px rgb(255, 167, 79));
        }
    }

    /*Our Work Page*/

    .circle {
        /* text-align: center; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 7vw;
        align-items: center;
        scale: 1;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -20vw;
        margin: 0;
        padding: 0;
    }

    .circles1 {
        text-align: right;
        transform: translateX(45px);
        padding-top: 25px;
        /* transform: translateY(50px); */
    }

    .circles2 {
        /* transform:translateX(-100px) ; */
        transform: translateY(110px);
        text-align: left;
    }

    .down {
        transform: translateY(-10px);
    }

    .up {
        transform: translateY(-25px);
    }

    .circle1 img {
        position: relative;
        width: 350px;

    }

    .circle1 {
        animation-delay: 0s;
        animation-duration: 5s;
    }

    .circle2 {
        animation-delay: 0.4s;
    }

    .circle4 {
        animation-delay: 0.2s;
    }

    .circle6 {
        animation-delay: 1s;
    }

    .circle3 {
        animation-delay: 0.8s;
    }

    .circle5 {
        animation-delay: 0.6s;
    }

    .circle2 img {
        position: relative;
        width: 350px;
    }

    .circle3 img {
        position: relative;
        width: 350px;
    }

    .circle4 img {
        position: relative;
        width: 350px;
    }

    .circle5 img {
        position: relative;
        width: 350px;
    }

    .circle6 img {
        position: relative;
        width: 350px;
    }


    #img1work {
        animation: bkgmove1 1s 1s ease-out forwards;
        animation-duration: 0.5s;
        position: relative;
        z-index: -1;
        object-fit: contain;
        position: absolute;
        bottom: -2px;
        left: 50%;
    }


    @keyframes bkgmove1 {
        20% {
            filter: invert(1) brightness(9%);
        }

        60% {
            left: -30%;
            bottom: 20%;
            transform: scale(1.4);
            filter: invert(1) brightness(95%);
        }

        100% {
            left: -40%;
            bottom: 10%;
            transform: scale(1.4);
            filter: invert(1) brightness(95%) opacity(100%);
        }
    }

    /*Events*/

    #events {
        background-color: #E6E6E6;
    }

    #img2events {
        padding-left: 152vw;
        bottom: 45vw;
        position: relative;
        z-index: -1;
        -webkit-animation: events 1s 1s ease-out forwards;
        animation: events 1s 1s ease-out forwards;
        -webkit-animation-duration: 0.45s;
        animation-duration: 0.45s;
    }

    @keyframes events {
        0% {}

        100% {
            transform: scale(2);
            padding-left: 1vw;

        }
    }

    .grid {
        padding-top: 17%;
        padding-left: 10%;
        display: grid;
        grid-template-columns: 1fr 10fr;
        position: static;
    }

    .grid2 h1 {
        color: #A158FF;
        font-family: Raleway;
        font-weight: 600;
        font-size: 1.5vw;
    }

    .grid2 span {
        font-weight: 500;
        font-family: Raleway;
        font-size: 1.5vw;
        line-height: 2.9vw;
        color: #626262;
    }

    .grid2 p {
        font-weight: 500;
        font-family: Raleway;
        font-size: 1.3vw;
    }

    .para {
        padding-top: 3%;
    }

    /*horizontal scroll CSS*/
    main {

        position: fixed;
        top: 15rem;
        left: 6.5rem;
        padding: 5%;
        /*  note vh and vw switched  */
        width: 150vh;
        height: 120vw;
        /*    */
        transform-origin: top left;
        transform: rotate(-90deg) translateX(-100vh);
        overflow-x: hidden;
        overflow-y: scroll;
        /*   scroll-snap-type: y mandatory; */
    }

    .scrolling-wrapper {
        white-space: nowrap;
        margin-top: -15vw;
        margin-bottom: 2%;
        display: flex;
        flex-direction: row;
        width: 280rem;
        /*width of scrolling*/
        height: fit-content;
        transform-origin: top left;
        transform: rotate(90deg) translateY(-100vh);

    }

    /*::-webkit-scrollbar {
    display: none;
}*/

    .card {

        display: inline-block;
        /*border-style: dotted;*/
        align-items: center;
        width: 90vw;
        height: 60vw;
        margin-left: 10vw;
        margin-top: -2.3vw;
        /*   scroll-snap-align: start; */
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        font-size: 1.4vm;
        /*  backface visibility keeps font from looking weird  */
        transition: all .4s ease-in-out;
    }

    .card:hover {
        transform: scale(1.1);
    }

    .c1 {
        background-image: url(./image/Card1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .text {
        font-size: 1.5vw;
        margin-top: 35vw;
        width: fit-content;
        block-size: fit-content;
        color: oldlace;
        font-family: Raleway;
        white-space: normal;
        transition: all .4s ease-in-out;
        -webkit-animation: text 1s 1s ease-out forwards;
        animation: text 1s 1s ease-out forwards;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
    }

    @keyframes text {
        0% {
            margin-top: 40vw;
        }

        100% {
            margin-top: -15vw;
        }
    }

    .main2 {
        color: oldlace;
        font-family: Raleway;
        font-size: 3vw;
        margin-bottom: 58VW;
        margin-top: -54.5VW;
        margin-left: -7VW;
        -webkit-animation: 2s 2s ease-out forwards;
        animation: 2s 2s ease-out forwards;
    }

    .gallery-wrapper {
        bottom: 85%;
        white-space: nowrap;
        margin-left: -14vw;
        position: relative;
        display: flex;
        flex-direction: row;
        width: fit-content;
        /*width of scrolling*/
        height: fit-content;
        -webkit-animation: gal 1s 1s ease-out forwards;
        animation: gal 1s 1s ease-out forwards;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;

    }

    @keyframes gal {
        0% {
            margin-top: -10vw;
        }

        100% {
            margin-top: -45vw;
        }
    }

    .galcard {

        display: inline-block;
        border-style: double;
        align-items: center;
        width: 20vw;
        height: 10vw;
        background-color: white;
        margin-right: -2rem;
        margin-left: 4rem;
        margin-top: 2rem;
        /*   scroll-snap-align: start; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        font-size: 3rem;
        /*  backface visibility keeps font from looking weird  */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    /*Projects*/



    /*Join Us*/


    /*JOIN*/
    join {
        max-width: screen;
        max-height: screen;
       overflow-x: hidden;
    }

    #imgjoin {
        scale: 0.5;
        margin-top: -45vw;
        z-index: -1;
        position: relative;
    }

    #imgjoin {
        -webkit-animation: proj2 1s 1s ease-out forwards;
        animation: proj2 1s s ease-out forwards;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.5s;
        z-index: -1;
    }

    @keyframes proj2 {
        100% {
            transform: scale(3);
            padding-left: 18vw;
            margin-bottom: 20vw;
            z-index: -1;
        }
    }

    .joinh1 {
        position: fixed;
        margin-left: 40vw;
        white-space: nowrap;
        z-index: 1;
        font-size: 2.5vw;
        margin-top: 10vw;
    }

    .heading2 h1 {

        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        color: #ffffff;
        font-style: normal;
        z-index: 1;
    }

    .heading2 span {
        color: #FF7F4C
    }

    #phone {
        scale: 1.4;
        margin-left: -100vw;
        margin-top: 10vw;
        animation: glow 2.5s infinite;
    }

    #phone:hover {
        filter: brightness(120%);
    }

    @keyframes glow {
        0% {
            transform: rotate(0deg);
            filter: brightness(140%);
        }

        50% {
            transform: rotate(4deg);
            filter: brightness(100%);
        }

        100% {
            transform: rotate(0deg);
            filter: brightness(140%);
        }
    }

    #jointext {
        color: #071330;
        border: dashed;
        width: 60vw;
        margin-left: 26vw;
        margin-top: -10vw;
        align-items: center;
        text-align: center;
        z-index: 2;
        position: fixed;
        padding: 2vw;
        height: 8vw;
    }

    #jointext p {
        font-size: 2vw;
        padding: 0.4vw;
    }

    .jimg {
        margin-left: -1.5vw;
        margin-top: -0.5vw;
        padding-right: 1vw;
        margin-bottom: -0.4vw;
        scale: 1;
    }

    .padding {
        padding-right: 1vw;
        scale: 1;
    }

    #uijoe {
        position: fixed;
        
        top: 70%;
        left: 55%;
        transform: translate(-50%, -50%);
        visibility: visible;
        scale: 1.2;
    }

    #erc {
        position: fixed;
        top: 70%;
        left: 70%;
        transform: translate(-50%, -50%);
        visibility: visible;
        scale: 1.2;

    }

    #erc {
        margin-top: -15vw;
    }

    #uijoe {
        margin-top: -15vw;
    }
}
